body {
    background-color: #fff;
    font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Main content */

.logo {
    padding-top: 109px;
    padding-bottom: 30px;
    margin-top: 89px;
}

.search-box {
    width: 608px;
    height: 49px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;

}

.search-box:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-box__font {
    font: 16px arial,sans-serif;
    line-height: 34px;
    padding: 5px 8px 0 16px;
}

.buttons {
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    color: #757575;
    padding: 10px;
    margin: 11px 7px;
    background-color: #f2f2f2;
    border: 1px solid #ffffff;
    font-weight: bold;
}

.button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Nav bar */ 

li {
    display: inline;
    margin: 7px 10px 0 0;
}

a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}
