body {
    background-color: #fff;
    font-family: arial,sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    vertical-align: baseline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}


/* Main content */

.logo {
    padding-top: 109px;
    padding-bottom: 30px;
    margin-top: 26px;
}

.search-box {
    width: 608px;
    height: 49px;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}

.search-box:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

.search-box__font {
    font: 16px arial,sans-serif;
    line-height: 34px;
    padding: 5px 8px 0 16px;
}

.buttons {
    margin: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.button {
    color: #757575;
    padding: 10px;
    margin: 11px 7px;
    background-color: #f2f2f2;
    border: 1px solid #ffffff;
    font-weight: bold;
}

.button:hover {
    color: #222;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.description {
    font-size: 13px;
    text-align: center; 
}

.description a {
    text-decoration: none;
    opacity: 1;
    color: #1a0dab;
}

.description a:hover {
    text-decoration: underline;
}

/* Nav bar */ 

nav {
    margin: 5px 5px 5px 0px;
    display:flex;
    justify-content: space-between;
}

.top-left-buttons {
    margin-left: -15px;
}

.top-left-buttons > li {
    display: inline;
    margin: 7px 14px 0 0;
}

.top-right-buttons {
    margin-top: 10px;
    padding: 0 25px;
}

.top-right-buttons > li {
    display: inline;
    margin-right: 10px;
}

.square-icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/google-icons.png);
    background-size: 528px 68px;
    background-position: -132px -38px;
    height: 30px;
    width: 30px;
    opacity: .55;
}

.square-icon:hover {
    opacity: 1;
}

.notification-icon  {
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,.55);
    background-image: url(images/google-icons.png);
    background-size: 528px 68px;
    background-position: -194px -21px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.notification-icon:hover {
    background-color: rgba(0,0,0);
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/avatar.png);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}